.comparison-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 1.75rem 0;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 16px;
    }

    .comparison-item {
        flex: 1;
        padding: 20px;
        border: 1px solid rgba(var(--sol-base1-rgb), 0.22);
        border-radius: 8px;
        background-color: rgba(var(--sol-base1-rgb), 0.04);
        box-shadow: 0 1px 3px rgba(var(--sol-base03-rgb), 0.02);

        h4 {
            margin-top: 0;
            color: var(--sol-base02);
        }
    }
}

.row {
    display: flex !important;
    flex-flow: row wrap !important;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-bottom: 1.5rem;
}

[class*="col-"] {
    box-sizing: border-box !important;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.col-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
        width: 50% !important;
    }

    .col-md-4 {
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
        width: 33.333333% !important;
    }

    .col-md-8 {
        flex: 0 0 66.666667% !important;
        max-width: 66.666667% !important;
        width: 66.666667% !important;
    }

    .col-md-7 {
        flex: 0 0 58.333333% !important;
        max-width: 58.333333% !important;
        width: 58.333333% !important;
    }

    .col-md-5 {
        flex: 0 0 41.666667% !important;
        max-width: 41.666667% !important;
        width: 41.666667% !important;
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
        width: 25% !important;
    }
}
